{% extends '@PeterjmitBlog/layout.html.twig' %}

{% block content %}
<div class="row">
  <div class="col-lrg-8">
    <ul>
      {% for post in posts %}
      <li>#{{ post.id }} - {{ post.subject }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
